@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --corprincipal: #0A3871 ;
    --corseg: #343A40;
    --corter:#495057;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background: #DCDCDC;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    color: var(--corprincipal);
}

.cabecalho img{
    max-width: 50px;
    max-height: 50px;
    height: auto;
    width: auto;
    background-image: none;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 5% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 330px;
}

#input-texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--corter);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}

#input image {
    width: 50%;
    height: 50%;
}

#output {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--corseg);
    border-radius: 20px;
    width: 350px;
    height: 960x;
    margin-right: 40px;
    padding: 2%;
}

#output h2 {
    text-align: center;
    font-size: 25px;
    color: var(--corter);
}

#output span{
    font-size: 1rem;
    text-align: center;
    color: var(--corter);
}
#output img{
    max-width: 25rem;
    max-height: 25rem;
    height: auto;
    width: auto;
    margin-top: 4%;
    padding: 2%;
}

.container-bnt button{
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprincipal);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar{
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprincipal);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-bnt button:hover{
    border: 2px solid red;
    transition: 0.5s all;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-top: -5%;
    color: black;
    font-size: 40%;
}
.rodape h3 {
    font-size: 1rem;
}

.wrapper {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%  0 4%;
}

.wrapper span{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background-color: rgba(0,0,0, .5);
}

@media screen and (max-width:1200px){

    .cabecalho{
        display: flex;
        justify-content:left;
        padding: 3%;
    }
 
    .cabecalho h1{
      font-size: 28px;
    }
 
    .cabecalho img{
        max-width:90px;
        max-height:40px;
        width: auto;
        height: auto;
    }
    
    .container-input .input{
        width: 400px;
        height: 330px;
    }
 
    .container-input{
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        padding: 2% 0 0 4%;
    }
 
    
     #input-texto{
        width: 400px;
        height: 330px;
        font-size: 20px;
    }
 
    
 #output{
   width: 50%;
   height: 75%;
   margin-top: 9%;
   margin-right: 3%;
 }
 
 #output img{
   max-width:250px;
   max-height:200px;
   width: auto;
   height: auto;
   margin-top: 4%;
   margin-left: 25%;
 }
 
 .container-bnt button{
   width: 150px;
   height: 50px;
   margin-left: 5%;
   margin-top: 5%;
 }
 
 .rodape{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 24%;
   color: var(--cortitulo);
   width: 68%;
 }
    
 }
 
 @media screen and (max-width:500px){
    #output{
       width: 60%;
       height: 75%;
       margin-top: 15%;
    }
  
    #input-texto{
       width: 200px;
       height: 330px;
       font-size: 20px;
   }
  
    #output img{
       max-width:200px;
       max-height:150px;
       width: auto;
       height: auto;
       margin-top: 4%;
       margin-left: 5%;
    }
  
    .container-bnt{
       width: 200px;
       flex-wrap: wrap;
    }
  
    .container-bnt button{
       width: 110px;
       height: 50px;
       margin-left: 30%;
       margin-top: 5%;
  
    }
  
    .input p{
       font-size: 10px;
    }
  
    .rodape h3{
       font-size: 14px;
   }
  
  
  }